:root{
--colors--primary: red;
--colors--secondary: blue;
--colors--link--idle: orange;
--colors--link--hovered: tomato;
--breakpoints--small: 768px;
--breakpoints--medium: 1024px;
--breakpoints--large: 1440px;
--font-size--h1: 48px;
--font-size--h2: 36px;
--font-size--h3: 24px;
}

.winter{
--colors--primary: green;
--colors--secondary: white;
}

.summer{
--colors--primary: orange;
--colors--link--hovered: purple;
}

